/.gradle/
/.idea/
*.DS_Store
*.gitgore
gradle.properties
application-*.yml
bootstrap-*.yml
/build/
/log/
/logs/
/**/build/
/*.iml
/*/**/*.iml
**/out/**

GitVer.java
**/logs/
.idea/

*rebel*

**/generated/**